{% extends 'MusiCrashTemplates/base_en.html'%}

{% block title %}
MusiCrash - Steinway
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../static/style/main_css/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
{% endblock %}

    {% block content %}
<!-- 下面是出现问题的div -->
        <header data-dsn-header="project">
      <div class="header-project p-relative h-100-v over-hidden" data-dsn-header="parallax">
        <div id="dsn-hero-parallax-img" data-dsn-ajax="img" class="p-absolute w-100 h-100 over-hidden" data-overlay="6"><img class="cover-bg-img" src="{{ kind.get('img').url }}" alt=""></div>
        <div class="margin-lr-100 h-100">
          <div class="row align-items-center h-100">
            <div class="content p-relative w-100">
              <div class="intro-project">
                <div id="dsn-hero-title" class="intro-title">
                  <div class="metas d-inline-block"><span>CLASSIC GRAND PIANO</span></div>
                  <h1 class="title" data-dsn-ajax="title">{{ kind.get('title').get('english') }}</h1>
                </div>
                <p id="dsn-hero-description" class="description">In 1853, German immigrant Henry Engelhard Steinway founded Steinway & Sons in a small loft on Varick Street in Manhattan, New York.
                    Over the next 30 years, Henry and his sons write a new chapter in modern piano manufacturing.
                    They built pianos using handcrafted techniques passed down from master to apprentice.
                    Today Steinway pianos are the preferred choice of more than 97% of pianists worldwide and are the dream piano and collector's item that everyone wants to own.
</p>
                <div id="dsn-hero-desc-items" class="intro-project-details d-flex">
                  <div class="descrption-item">
                    <h5>MICHEL LEGRAND</h5>
                    <p style="max-width: 570px">“I insist on a Steinway for my recordings, my concerts and my home. It is the only piano I want to hear my music played on.”</p>
                  </div>
                  <div class="descrption-item">
                    <h5>ROLE</h5>
                    <p>Architecture</p>
                  </div>
                  <div class="descrption-item">
                    <h5>Published</h5>
                    <p>March 25th 2020</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-d p-absolute"><img src="../static/assets/img/scroll_down.svg" alt=""></div>
      </div>
    </header>

    <div class="wrapper">

      <!-- 最下面俩 Rim & Soundboard -->
        {% for product in products %}
      <div class="box-gallery-vertical box-gallery-content  section-margin section-padding" data-dsn-animate="section">
        <div class="mask-bg"></div>
        <div class="container">
          <div class="row align-items-center h-100">
            <div class="col-lg-6 dsn-z-index-2">
              <div class="box-im" data-dsn-grid="move-up">
                <a href="{{ url_for('main.productInfo', product_id=product.id) }}">
                  <img class="has-top-bottom" src="{{ product.get('cover').url }}" alt="" data-dsn-move="20%">
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-info">
                <div class="title-cover theme-color" data-dsn-grid="move-section" data-dsn-opacity="0.03" data-dsn-duration="170%" data-dsn-move="0%">Droow </div>
                <div>
                  <a href="{{ url_for('main.productInfo', product_id=product.id) }}">View More</a>
                </div>
                <br>
                <div class="bg-mask-content ">
                  <div class="mask-bg-2 dsn-up"></div>
                  <h6 class="dsn-up">{{ product.get('title').get('english') }}</h6>
                  <p class="dsn-up">{{ product.get('description').get('english') }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}

    </div>

      <div class="container">
          <div class="myPagination" style="margin-left: 25%"></div>
      </div>

    <div class="next-project p-relative over-hidden section-padding mt-section" data-dsn-footer="project">
      <div id="dsn-footer-hero" class="img-next-box  p-absolute w-100 h-100" data-overlay="5"><img class="cover-bg-img" src="../../static/img/project/project4/1.jpg" alt=""></div>
      <div class="margin-lr-100 h-100">
        <div class="row align-items-center h-100">
          <div class="next-inner p-relative w-100">
            <h2 class="bg-title p-absolute">Next Project</h2>
            <div id="dsn-footer-description" class="metas d-inline-block"><span>Digital Art</span></div>
            <h1 class="title"><a id="dsn-footer-title" href="project4.html" class="effect-ajax" data-dsn-ajax="next">Intentional </a>
              <div class="full-width img-box-shadow"></div>
            </h1>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}