<!--用于展示用户详细的个人页面-->
{% extends "MusiCrashTemplates/base_zh.html"%}
{% block title %}
您的个人信息
{% endblock %}

{% block sebian_css %}
{{ super() }}
{% endblock %}

{% block content %}
    <section class="testimonial" data-stellar-background-ratio="0.7" style="background-image: url('../../static/image/histroy_view1.jpg'); background-repeat: no-repeat; background-position-x: center; background-position-y: center">
      <div class="section-p-60px overlay">
        <div class="container">

          <!-- Tittle -->
          <div class="tittle antiquewhite-font animate fadeInUp" data-wow-delay="2s" >
            <h5 id="username"></h5>
            <p>欢迎您，我们尊贵的客户</p>
          </div>

          <!-- Slider Section -->
          <div class="testi-slides animate fadeInUp" data-wow-delay="2s" >

            <!-- Slider 1 -->
            <div class="testi">
              <div class="avatar"> <img src="../../static/image/sebian_imgs/avatars/avatar-4.jpg" alt=""> </div>
              <p>个人信息</p>
              <hr>
              <h6>用户名</h6>
              <p id="username2"></p>
              <h6>手机号码</h6>
              <p id="phone"></p>
              <h6>邮箱</h6>
              <p id="mail"></p>
              <h6>地址</h6>
              <p>北京市，朝阳区100号北京工业大学</p>
              <p><u>
                 <a href="{{ url_for('ch.testmodify') }}" class="antiquewhite-font " ><u><span class="text-decoration-underline">管理您的个人信息</span></u></a>
              </u></p>
            </div>


          </div>
        </div>
      </div>
    </section>



{% endblock %}
{% block end %}
    <script>

    console.log("eeee")
    document.getElementById('username').innerText = "你好, " + getLoginState().getUsername();
    document.getElementById('username2').innerText = getLoginState().getUsername();
    document.getElementById('mail').innerText = getLoginState().get('email')
    document.getElementById('phone').innerText = getLoginState().get('mobilePhoneNumber')


</script>
{% endblock %}
{% block sebian_script %}
{{ super() }}
{% endblock %}
